.button{
  color: $text-color;
  background-color: #fcfcfc;
  box-shadow: 0 5px 23.75px 1.25px rgba(189, 227, 239, 0.75);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 92px 20px 60px;;
  text-decoration: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  @media (max-width: 990px) {
    padding: 10px 62px 10px 30px;
    font-size: 16px;
    line-height: 28px;
  }
}
.button--header{
  position: relative;
}
.button--header::before{
  content: "\f178";
  color: #7048e2;
  padding-left: 20px;
  font-size: 18px;
  position: absolute;
  top: calc(50% - 11px);
  right: 27%;
  font-family: 'FontAwesome';
}
.button__wrapper{
  margin: -33px auto;
  text-align: center;
  @media (max-width: 990px) {
    margin: -17px auto;
  }
}
.button--violet{
  opacity: 0;
  position: relative;
  border: none;
  color: #ffffff;
  margin: -33px;
  outline: none;
  cursor: pointer;
  padding: 20px 45px;
  transition: 0.3s ease;
  background: -moz-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  background: -webkit-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  background: -ms-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  box-shadow: 0px 5px 23.75px 1.25px rgba(240, 239, 254, 0.75);
  @media (max-width: 990px) {
    margin: -17px;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
  }
}
.button__newsletter{
  border: none;
  color: #ffffff;
  margin: -33px;
  padding: 16px 60px;
  transition: 0.3s ease;
  border-radius: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  outline: none;
  letter-spacing: 1px;
  background: -moz-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  background: -webkit-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  background: -ms-linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  box-shadow: 0 5px 23.75px 1.25px rgba(240, 239, 254, 0.75);
  &:focus{
    cursor: pointer;
  }
  @media (max-width: 990px) {
    margin: -26px;
    padding: 12px 37px;
    font-size: 16px;
  }
  @media (max-width: 890px) {
    padding: 5px 15px;
    font-size: 12px;
  }
}