.footer{
  padding-top: 55px;
  @media (max-width: 990px) {
    padding-top: 25px;
  }
}
.footer__title{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #222222;
  text-align: center;
  @media (max-width: 990px) {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }
}
.footer__menu{
  padding-top: 38px;
  display: flex;
  justify-content: center;
  @media (max-width: 990px) {
    padding-top: 20px;
  }

}
.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 535px;
  text-align: center;
  @media (max-width: 990px) {
    width: 335px;
  }
  @media (max-width: 520px) {
    flex-direction: column;
  }
}
.menu__link{
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
  color: #404040;
  font-weight: 600;
  &:hover{
    color: #8c84f9;
  }
  @media (max-width: 990px) {
    font-size: 14px;
  }
}
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
  @media (max-width: 990px) {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 200px;
  }
}
.social__item{
  border: 1px solid #ecebed;
  border-radius: 100%;
  list-style-type: none;
}
.social__link{
  fill: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  transition: 0.2s ease;
  border-radius: 100%;
  &:hover{
    fill: #ffffff;
    background-color: #9674f6;
    box-shadow: 0px 8px 19px 1px rgba(207, 207, 208, 0.75);
    }
  @media (max-width: 990px) {
    width: 40px;
    height: 40px;
  }
}
.copyright{
  background-color: #f6f5f7;
  padding: 20px;
  text-align: center;
  @media (max-width: 990px) {
    padding: 10px;
  }
}
.copyright__text{
  color: #777777;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  @media (max-width: 990px) {
    font-size: 12px;
  }
}