
.showcase__wrapper{
  max-width: 1380px;
  margin: 0 auto;
  box-shadow: 0 5px 47.5px 2.5px rgba(237, 235, 253, 0.75);
  background-color: #ffffff;
  padding: 100px 75px 55px 75px;
  position: relative;
  z-index: 100;
}
.showcase__tabs{
  margin: 97px 80px 0;
  padding: 21px 120px;
  background-color: #ffffff;
  box-shadow: 0px 5px 47.5px 2.5px rgba(239, 239, 240, 0.75);
  border-radius: 100px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}