.tabs{
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 27px 125px;
  @media (max-width: 1210px) {
    margin: 27px 50px;
  }
}
.tabs__item{
  text-align: center;
}
.tabs__link{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  line-height: 25px;
  &:hover{
    color: rgb(179, 148, 250);
    text-align: center;
    letter-spacing: 2px;
    font-size: 19px;
    text-shadow: 0px 9px 5px rgba(213, 200, 247, 0.75);
  }
}
.tabs-content__panel{
  display: none;
}
.tabs-content__panel.active{
  display: block;
}
