.trendy{
  padding-bottom: 100px;
  @media (max-width: 1110px) {
    padding-bottom: 30px;
  }
}
.trendy__wrapper{
  max-width: 1380px;
  margin: -135px auto 0;
  background-size: cover;
  padding-top: 88px;
  box-shadow: 0px 5px 47.5px 2.5px rgba(237, 235, 253, 0.75);
  background-color: #ffffff;
  @media (max-width: 1210px) {
    max-width: 940px;
    padding-top: 30px;
  }
  @media (max-width: 990px) {
    max-width: 860px;
  }
  @media (max-width: 890px) {
    max-width: 500px;
  }
  @media (max-width: 520px) {
    max-width: 315px;
  }
}

